.summary { 
    width: 100%;
    margin: 0px;
}

.billing-view {
    margin-top: 0px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flex-row {
        justify-content: space-between;
    }
}