/* Contact */

.contact-info {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-align: left;
}

.customer-contact h2 {
    color: black;
    font-weight: 600;
}

.contact-info li {
    overflow-wrap: break-word;
}

.questions {
    margin-top: 15px;
}